.main {
  display: flex;
  padding: 2rem 4rem 1rem 4rem;
  justify-content: flex-start;
}

.main img {
  width: 12rem;
  height: 10rem;
}

.rocketDescription {
  text-align: left;
  line-height: 1;
  margin-left: 2rem;
}

.main button {
  background-color: rgb(17, 116, 255);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
}
