.main {
  display: flex;
  gap: 2vw;
  margin: 2vw;
}

.container {
  border-top: solid 1px lightgray;
}

.main img {
  height: 14vw;
  width: 15vw;
}

.rocketDescription {
  text-align: left;
  line-height: 1;
  margin-left: 1rem;
}

/* .main button {
  background-color: rgb(17, 116, 255);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
} */

@media only screen and (max-width: 540px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main > img {
    width: 80vw;
    height: auto;
    margin: 1rem auto;
  }

  .rocketImage {
    justify-self: center;
  }
}
